*{
    box-sizing: border-box;
}

/* TRATAMENTO DO HEADER DA PAGE // NAVBARRA  */

.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    align-items: center;
    font-family: madeinfinity;    
}

.nav-bar>li{
    list-style: none;
    justify-content: space-around;
    
}

.nav-bar>li>a{
    text-decoration: none;
    font-weight: bold;
}

.nav-bar>li>a:hover{
    text-decoration: overline;
    color: crimson;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
body{
    background-color: lightslategray;
}

.logomarca>p{
    margin-left: 30px;
    font-family: rostley;
    text-shadow: 0px 0px 5px;
    transition: all .2s;
    font-size: 70px;
}

.logomarca:hover{
    transform: scale(1.1);
}


#frase{
    list-style: none;
    display: flex;
    justify-content: right;
    font-family: madeinfinity;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;

}

/* AREA PARA INSERÇÃO DE FONTES NOVAS */

@font-face {
    font-family: madeinfinity;
    src: url(fonts/made_infinity/MADEINFINITY\ PERSONALUSE-Thin.otf);
}

@font-face {
    font-family: whitedream;
    src: url(fonts/white_dream/White\ Dream.otf);
}

@font-face {
    font-family: delight;
    src: url(fonts/delight/Delight\ Mother.ttf);
}

@font-face {
    font-family: rostley;
    src: url(fonts/rostley/Rostley_PERSONAL_USE_ONLY.otf);
}

/* INICIO TRATAMENTO CONTEUDO PAGE  */
.content-start-about{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: madeinfinity;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 50px;
    color: black;
}

.content-medium-text>p{
    font-family: rostley;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    font-size: 50px;
}

.content-imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.content-imgs1>p{
    font-family: rostley;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.img {
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    transition: transform .2s;
}

.img:hover {
    transform: scale(1.1);
}

.content-obras{
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
}

.content-obras>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-obras>div>a{
    text-decoration: none;
    font-family: madeinfinity;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

/* INICIO TRATAMENTO DO FOOTER */

footer{
    background-color: #333;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.nav-bar-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:end;
    font-family: madeinfinity;
}

.nav-bar-footer>li {
    list-style: none;
    justify-content: space-around;
    padding-top: 10px;

}

.nav-bar-footer>li>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-bar-footer>li>a:hover {
    text-decoration: overline;
    color: blueviolet;
}

.logomarca-footer>p{
    margin-left: 30px;
    font-family: rostley;
    font-size: 50px;
    color: white;
}
